---
layout: default
---

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Portfolio Filter
            ============================================= -->
            <ul id="portfolio-filter" class="clearfix">

                <li class="activeFilter"><a href="#" data-filter="*">Todos</a></li>
                <li><a href="#" data-filter=".pf-materia">Materias</a></li>
                <li><a href="#" data-filter=".pf-videos">Videos</a></li>

            </ul><!-- #portfolio-filter end -->

            <div class="clear"></div>

            <!-- Portfolio Items
            ============================================= -->
            <div id="portfolio" class="portfolio-1 clearfix">


                {% for materia in site.data.materias %}
                    {% if materia.tipo == "materia" %}
                       <article class="portfolio-item pf-materia clearfix {% cycle ' ', 'alt' %}">
                    {% else %}
                       <article class="portfolio-item pf-videos clearfix {% cycle ' ', 'alt' %}">
                    {% endif %}
                        <div class="portfolio-image">
                            <figure class="html5 center">
                                <img src="{{ materia.imagem.url }}" alt="{{ materia.imagem.alt }}">
                            </figure>
                            <div class="portfolio-overlay">
                                {% if materia.tipo == "materia" %}
                                    <a href="{{ materia.url }}" target="_blank" class="center-icon">
                                        <i class="icon-line-ellipsis"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ materia.url }}" class="center-icon" data-lightbox="iframe">
                                        <i class="icon-line-play"></i>
                                    </a>
                                {% endif %}                                
                            </div>
                        </div>
                        <div class="portfolio-desc">
                            <h3> 
                              <a href="{{ materia.url }}" target="_blank">{{ materia.titulo }}</a></h3>
                            <p>{{ materia.descricao }}</p>
                            <ul class="iconlist">
                                <li><i class="icon-ok"></i> <strong>Data: </strong> {{ materia.data }}</li>
                                <li><i class="icon-ok"></i> <strong>Fonte: </strong> {{ materia.fonte }}</li>
                            </ul>
                        </div>
                    </article> 
                {% endfor %}
                
            </div><!-- #portfolio end -->

            <!-- Portfolio Script
            ============================================= -->
            <script type="text/javascript">

                jQuery(window).load(function(){

                    var $container = $('#portfolio');

                    $container.isotope({ transitionDuration: '0.65s' });

                    $('#portfolio-filter a').click(function(){
                        $('#portfolio-filter li').removeClass('activeFilter');
                        $(this).parent('li').addClass('activeFilter');
                        var selector = $(this).attr('data-filter');
                        $container.isotope({ filter: selector });
                        return false;
                    });

                });

            </script><!-- Portfolio Script End -->

        </div>

    </div>

</section><!-- #content end -->
