    <!-- Footer
    ============================================= -->
    <footer id="footer">

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

        <div class="container clearfix">

          <div class="col_half">
            Copyrights &copy; 2015 DOM Diagnósticos<br/>
            <!-- Criado por <a href="http://www.wbelk.com.br">WBelk&reg;</a> Consultoria -->
          </div>

          <div class="col_half col_last tright">
            <div class="fright clearfix">
              <a href="#" class="social-icon si-small si-light si-rounded si-facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>

              <a href="#" class="social-icon si-small si-light si-rounded si-linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
              </a>
            </div>

            <div class="clear"></div>

          </div>

        </div>

      </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

  </div><!-- #wrapper end -->

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- Footer Scripts
  ============================================= -->
  <script type="text/javascript" src="/js/functions.js"></script>
  <script type="text/javascript" src="/js/analytics.js"></script>