    <!-- Header
    ============================================= -->
    <header id="header" class="sticky-style-2">

      <div id="logotop" class="center">
        <div class="container clearfix">

          <!-- Logo
          ============================================= -->
          <div id="logo" class="divcenter">
            <a href="/" class="standard-logo"><img class="divcenter" src="/images/logo.png" alt="Dom Diagnostico Logo"></a>
            <a href="/" class="retina-logo"><img class="divcenter" src="/images/logo.png" alt="Dom Diagnostico Logo"></a>
          </div><!-- #logo end -->

        </div>
      </div>
    
      <div id="header-wrap">

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu" class="style-2 center">

          <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <ul>
              <li class="current"><a href="/"><div>Home</div></a></li>
                
              <li><a href="#"><div>Empresa</div></a>
                <ul>
                  <li><a href="/sobre/"><div>Quem Somos</div></a></li>
                  <li><a href="/tecnologia/"><div>Tecnologia</div></a></li>
                  <li><a href="/clientes/"><div>Clientes</div></a></li>
                </ul>
              </li>
              
              <li><a href="#"><div>Serviços</div></a>
                <ul>
                  <li><a href="/recrutamento-e-selecao/"><div>Recrutamento & Seleção</div></a></li>
                  <li><a href="/desenvolvimento/"><div>Desenvolvimento</div></a></li>
                  <li><a href="/carreira/"><div>Carreira </div></a></li>
                  <li><a href="/ferramenta/"><div>Ferramentas </div></a></li>
                  <li><a href="/consultoria/"><div>Consultoria </div></a></li>
                </ul>
              </li>
              <li class="mega-menu"><a href="/contato/"><div>Contato</div></a></li>
              
              <li class="mega-menu"><a href="/imprensa/"><div>Imprensa</div></a></li>

              <!-- <li class="mega-menu"><a href="/blog/"><div>Blog</div></a></li> -->
            </ul>

          </div>

        </nav>
        <!-- #primary-menu end -->
      </div>

    </header>
    <!-- #header end -->